@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-area="" asp-controller="Funcionario" asp-action="Index">O Dinheiro que fica longe do bolso do Patrão</a>.</p>
   
</div>
